<nav class="navbar navbar-fixed-top">
	<div class="content-padding">
		<ul class="nav navbar-nav navbar-right">
			<li>
        <a href="/">Home</a>
      </li>
		  <li>
				<a href="/contact">Contact</a>
			</li>
      <li>
				<a href="/about">About</a>
			</li>
      <li>
				<a href="/login">Login</a>
			</li>
      <li>
				<a href="/purchase">Purchase</a>
			</li>
		</ul>
	</div>
</nav>
