<!DOCTYPE html>
<html lang="en">
<head>

  <% include partials/head.ejs %>

</head>
<body>

	<% include partials/header.ejs %>

  <div class="jumbotron">
    This section will describe our platform and its functionality.
  </div>

  <% include partials/footer.ejs %>

  <% include partials/scripts.ejs %>

</body>
</html>
