<!DOCTYPE html>
<html lang="en">
<head>

  <% include partials/head.ejs %>

</head>
<body>

	<% include partials/header.ejs %>


  <div class="jumbotron">
    This section will provide users with our office contact information. It will also be the portal through which users/teachers can provide feedback or open a ticket for any technical issues.
  </div>


  <% include partials/footer.ejs %>

  <% include partials/scripts.ejs %>

</body>
</html>
