<!DOCTYPE html>
<html lang="en">
<head>

  <% include partials/head.ejs %>

</head>
<body>

	<% include partials/header.ejs %>

  <div class="jumbotron">
    This will be the initial landing page for students and teachers upon entering in our URL. Users will be prompted to create a password the first time they log-in. They will then be re-directed to a course selection page where they can purchase enrollment into a specific course. After the purchase, the film catalog will be availble and they will be redirected to the /home page which displays all the films.
  </div>

  <div class="form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" value="">
      Film Studies 101 ($39.99)
    </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" value="">
      Film Theory and Criticism 101 ($39.99)
    </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" value="">
      Cinema in the 21st Century 101 ($39.99)
    </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" value="">
      The French New Wave Meets Hollywood ($39.99)
    </label>
  </div>
  <div class="payment-total">
    Payment Total Here
  </div>
  <div class="payment-options">
    Payment Options Here. Paypal | Credit Card | Debit Card
  </div>
  <div class="payment-options">
    Payment Submit Form Here
  </div>


  <% include partials/footer.ejs %>

  <% include partials/scripts.ejs %>

</body>
</html>
